@model TfrRedo.ViewModels.JourneyDetailsPageViewModel

@{
    ViewBag.Title = "JourneyPlanner";
}

<h2>JourneyPlanner</h2>

<div>
    <h4>JourneyDetailsPageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    @Model.Journey.
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
