@model TfrRedo.ViewModels.StationFinderResultPageViewModel

@{
    ViewBag.Title = "StationFinderResultPage";
}

<h2>StationFinderResultPage</h2>


@using (Html.BeginForm("JourneyPlanner", "Home"))
{

    <div>

        <table>
            <tr>
                <th>Dept Code</th>
                <th>Dept Name</th>
            </tr>
            @{
                for (int i = 0; i < Model.Stations.Count; i++)
                {
                    <tr>
                        <td> @Model.Stations[i].Name </td>
                    </tr>
                }
            }
        </table>

        <input type="submit" value="Submit" /> <br /><br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
