@model TfrRedo.ViewModels.StationFinderResultPageViewModel

@{
    ViewBag.Title = "StationFinderResultPage";
}

<h2>StationFinderResultPage</h2>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var station in Model.Stations) {
    <tr>
        <td>@station.Name</td>
        <td>
            
            @Html.ActionLink("Select Station", "JourneyPlanner", new { station = station }) 
     
        </td>
    </tr>
}

</table>
